{% extends 'layouts/base.twig' %}

{% block headers %}
    <script src="/js/lazy_load.js" defer></script>
    <script src="/js/product/index.js" defer></script>
{% endblock %}

{% block content %}
    <div class="product-container">
	</div>
{% endblock %}
